<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adnstyle.jwtapi.repository.RefreshTokenRepository">

    <resultMap id="simpleToken" type="com.adnstyle.jwtapi.domain.RefreshTokenList">
        <id property="seq"                  column="seq"/>
        <result property="id"               column="id"/>
        <result property="refresh"            column="refresh"/>
        <result property="access"            column="access"/>
    </resultMap>


    <select id="selectToken" resultMap="simpleToken">
        select seq, id, refresh, access from refresh_token_list
        where id = #{id}
    </select>

    <select id="selectToken2" resultMap="simpleToken">
        select seq, id, refresh, access from refresh_token_list
        where id = #{id} and refresh = #{refresh}
    </select>

    <update id="updateToken">
        update refresh_token_list
        set
            refresh = #{refresh},
            access = #{access}
        where
            id = #{id}
    </update>

</mapper>